<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }} - listen videos later</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
    #playlist i.material-icons.circle {
        cursor: pointer;
    }

    #playlist audio {
        display: none;
    }

    #playlist .collection-item {
        padding-right: 42px;
    }

    #playlist .collection-item .title {
        font-weight: bold;
    }

    #playlist .collection-item .metadata,
    #playlist .collection-item .description {
        margin-top: 0.5em;
    }

    .hidden {
        display: none;
    }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <div class="row">
            Drag &amp; drop this bookmarklet to your favorites bar.
        </div>
        <div class="row">
            <a class="btn"
                href="javascript:(function(){window.location='{{ .URL }}/add/yt?url='+encodeURIComponent(window.location);})();">Listen
                later</a>
        </div>
        <div class="row">
            Click it while on YouTube video page to add its audio version to your personal podcast.
        </div>
        <div class="row">
            And by the way, here is a button to subscribe to it. In case it did not work, use this link: <code
                class="language-markup">{{ .URL }}/feed</code>.
        </div>
        <div class="row">
          <a class="waves-effect waves-light red btn" href="podcast://{{ .URL | stripScheme }}/feed">
            <i class="material-icons left">rss_feed</i>Subscribe
          </a>
        </div>
        <div class="row">
            <h2>Feed</h2>
        </div>
        <div class="row">
          <form action="/add/my" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn">
                <span>Select media file</span>
                <input id="upload-media-file" type="file" name="media">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload a new podcast item">
              </div>
            </div>
          </form>
        </div>
        {{ if .Items }}
        <div class="row">
            <ul id="playlist" class="collection">
                {{ range $i, $item := .Items }}
                  <li class="collection-item avatar">
                    <form id="delete-item-{{ $i }}" action="/feed/{{ .ID }}" method="POST">
                      <input type="hidden" name="action" value="delete"/>
                      <a href="javascript:document.querySelector('form#delete-item-{{ $i }}').submit()" class="secondary-content"><i class="material-icons tiny grey-text text-lighten-2">delete_forever</i></a>
                    </form>
                    {{ if $item.Playable }}
                    <i id="audio-control-{{ $i }}" data-audio-id="audio-{{ $i }}" class="material-icons circle red">play_circle_filled</i>
                    {{ else }}
                    <i class="material-icons circle grey">hourglass_empty</i>
                    {{ end }}
                    <form id="update-item-{{ $i }}" action="/feed/{{ .ID }}" method="POST">
                      <input type="hidden" name="action" value="patch"/>
                      <span class="title editable">{{ $item.Title }}</span>
                      <div class="input-field hidden">
                        <input placeholder="Title" type="text" name="title" id="title-{{ .ID }}" class="validate" required value="{{ $item.Title }}"/>
                        <label for="title-{{ .ID }}">Title</label>
                      </div>
                      <p>
                        {{ if .OriginalURL }}
                          <a href="{{ .OriginalURL }}">{{ .Author }}</a>
                        {{ else }}
                          {{ .Author }}
                        {{ end }}
                      </p>
                      <p class="metadata grey-text text-lighten-1">
                        <em>{{ .Duration | formatDuration }}, added on {{ $item.AddedAt.Format "2006-01-02" }}</em>
                      </p>
                      {{ if $item.MediaURL }}
                        <audio id="audio-{{ $i }}" preload="none" controls="" type="{{ $item.MIMEType }}">
                          <source type="{{ $item.MIMEType }}" src="{{ $item.MediaURL }}">
                              Sorry, your browser does not support HTML5 audio.
                        </audio>
                      {{ end }}
                      {{ if $item.Description.Body }}
                        {{ if ne .Title $item.Description.Body }}
                          <p class="description editable">{{ $item.Description.Body }}</p>
                        {{ end }}
                      {{ end }}
                      <div class="input-field hidden">
                        <textarea placeholder="Title" type="text" id="description-{{ .ID }}" name="description" class="materialize-textarea">
                          {{- $item.Description.Body -}}
                        </textarea>
                        <label for="description-{{ .ID }}">Description</label>
                      </div>
                      <div id="toggle-update-item-{{ $i }}">
                        <em><a href="javascript:void(0)">edit</a></em>
                      </div>
                      <div class="input-field hidden">
                        <button class="btn-small waves-effect waves-light" type="submit">
                          Save
                          <i class="material-icons right">send</i>
                        </button>
                        <button class="btn-small waves-effect waves-light grey lighten-5 black-text" type="reset">
                          Cancel
                        </button>
                      </div>
                    </form>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        (function (w) {
        var activeItem;

        function play(el) {
          activeItem = el;

          let audio = document.getElementById(activeItem.dataset["audioId"]);

          activeItem.innerText = "pause_circle_filled";
          audio.play();
        }

        function pause() {
          if (!activeItem) {
            return;
          }

          let audio = document.getElementById(activeItem.dataset["audioId"]);

          activeItem.innerText = "play_circle_filled";
          audio.pause();
          activeItem = null;
        }

        function togglePlayButton(event) {
          let changeTrack = event.target !== activeItem
          pause();

          if (changeTrack) {
            play(event.target);
          }
        }

        function toggleEditMode(event) {
            let el = event.target,
                item = el.closest(".collection-item");

            let editMode = item.querySelector("[id^='toggle-update-item-']").classList.toggle("hidden");

            item.querySelectorAll(".input-field").forEach(function (el) {
                if (editMode) {
                    el.classList.remove("hidden");
                } else {
                    el.classList.add("hidden");
                }
            });

            item.querySelectorAll(".editable").forEach(function (el) {
                if (editMode) {
                    el.classList.add("hidden");
                } else {
                    el.classList.remove("hidden");
                }
            });
        }

        document.querySelectorAll("#playlist [id^='toggle-update-item-'] a").forEach(function (el) {
            el.addEventListener("click", toggleEditMode);
        });
        document.querySelectorAll("#playlist button[type=reset]").forEach(function (el) {
            el.addEventListener("click", toggleEditMode);
        });

        document.querySelectorAll("#playlist [id^='audio-control-']").forEach(function (el) {
            if (el.hasClass("red")) {
                el.addEventListener("click", togglePlayButton);
            }
        });

        document.querySelector("#upload-media-file").addEventListener("change", function (event) {
            event.target.closest("form").submit();
        });
    })(window);
    </script>
</body>

</html>
